* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  --color1: #00bbc2;
  --color2: #0f52ba;
  --color3: #7ae4e4;
  --color4: #ba8e23;
  --color5: #020e3d;
  --fuente1: "Roboto Slab", serif;
  --fuente2: "Quicksand", sans-serif;
  --fuente3: "Cal Sans", sans-serif;
  --fuente4: "Montserrat", sans-serif;
}

.navbar navbar-expand-lg bg-body-tertiary fixed-top{
  background-color: var(--color2);
}

header{
  margin-bottom: 70px;
}
header img {
  width: 40px;
  height: 40px;
  align-self: center;
  margin-right:20px;
  margin-left: 20px;
}

.carousel-item img {
  height: 400px; 
  object-fit: cover; 
}




